.app-wrapper {
  display: flex;
  background-color: #282c34;
  flex-direction: column;
  align-items: center; /* Center everything */
  justify-content: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  overflow-x: hidden; /* Prevent horizontal scrolling */
}