.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
    text-align: center;
    width: 100%;
}

.footer-wrapper p {
    color: antiquewhite;
    font-size: 1.5em;
    font-family: "MuseoModerno", sans-serif;
}

.address {
    margin-bottom: -1em;
}


  