.footer-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
    text-align: center;
    width: 100%;
}

.footer-wrapper p {
    color: antiquewhite
}


  