.schedule-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
  }
  
  .day-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em; /* Use padding instead of margins */
    position: relative;
    width: calc(20% - 40px); /* Ensure columns take up even space */
  }
  
  .spacer {
    width: 20px;
  }
  
  .dark-grey {
    background-color: #3a3a3a;
    border-radius: 8px;
  }
  
  /* Day heading colors */
  .blue {
    color: turquoise;
  }
  
  .green {
    color: green;
  }
  
  /* General text styles */
  h2 {
    margin-bottom: 1.5em;
  }
  
  p {
    padding: 0.5em; /* Replace margins with padding */
    font-size: 1.1rem;
    text-align: center;
  }
  
  /* Styles for AM and PM classes */
  .am-class {
    color: #f0e68c;
    padding-bottom: 1.5em;
  }
  
  .pm-class {
    color: #add8e6;
    padding-bottom: 1.5em;
  }
  
  /* Filler node for empty slots */
  @media (min-width: 768px) {
    .filler {
      height: 2.6em;
      padding-bottom: 1.5em;
      visibility: hidden;
    }
  }
  
  /* Responsive Design: For smaller screens like mobile phones */
  @media (max-width: 768px) {
    .schedule-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .filler {
      display: none;
    }
  
    .day-column {
      width: 100%;
      padding-bottom: 1em; /* Use padding for spacing */
    }
  }
  
  
  
  
  
  
  
  
  
  
  